# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_NAME=techdesk
DB_USER=techadmin
DB_PASSWORD=techsecurepassword

# Eureka Server Configuration
EUREKA_SERVER_URL=http://eureka-server:8761/eureka/

# Redis Configuration (Used for Auth token blacklist and rate limiting)
REDIS_HOST=redis
REDIS_PORT=6379

# JWT Config
JWT_SECRET=supercalifragilisticexpialidociousmysticalsecretsignkeytechdesk2026
JWT_ACCESS_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000
